*{
    font-family: monospace;
}

.navBar{
    bordeR: solid red;
    /* height: 22vh; */
    margin: 1em;

}

.introContainer{
    border: solid blue;
    /* height: 22vh; */
    margin: 1em;
    display: flex;
    justify-content: space-evenly;
}

.skillsContainer{
    border: solid pink;
    /* height: 22vh; */
    margin: 6em 2em;
    display: flex;
    justify-content: space-evenly;
}

.xpContainer{
    /* border: solid purple; */
    /* height: 22vh; */
    margin: 1em;
    margin-top: -2em;
    display: flex;
    justify-content: space-between;
}
.navBar{
    display: flex;
    justify-content: center;
}

.color{
    width: 50%;
    /* border: 2px solid green; */
    padding: 4em;
    background-color: rgb(141, 140, 140);
}

.name{
    text-align: center;
    background-color: lightgrey;
    height: 10em;
    border: .5px solid black;
    width: 100%;
    padding-bottom: 2em;
    color: whitesmoke;
}

.name>h1{
    margin-top: 1em;
    font-size: 3em;
}
.name p{
    font-size: 1.5em;
}
.container{
    border: 2px solid lightblue;
    width: 33%;
    margin: .5em
}

.containerTwo{
    border: 2px solid orange;
    width: 33%;
    margin: .5em
}

.left{
    border: 2px solid green;
    width: 70%;
    margin-right: 2em
}

.right{
    /* border: 2px solid purple; */
    width: 30%;
}

/* ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 2em 1em;
} */

li{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    margin: 1.5em 0;
}

li>img{
    height: 25px;
    width: auto;
}
.imgContainer{
    text-align: center;
}
.selfie{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.profileContainer{
    text-align: center;
}

.profileContainer>h1{
    text-decoration: underline;
    border-bottom: solid black;
}

.eduContainer > h2{
    border: 2px solid black;
    text-align: center;
    padding: .5em;
}

.details{
    border: 2px solid red;
    text-align: center;
    margin: 1em
}

.heading{
    font-size: 1.5em;
    margin-bottom: 0;
    font-weight: bold;
}

.assetContainer{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: -5em
}


.skillsTitle, .expTitle{
    font-size: 2em;
    background-color: tan;
    padding: .5em;
    border: .5px solid black
}

.listContainer{
    border: 2px solid green;
    display:flex;
    flex-direction: column;
    /* align-content: space-between; */
}

.skillsIcon{
    height: 40px;
    margin-left: 4em;
}

.industryContainer{
    text-align: center;
}

.industryContainer > h2{
    border: 2px solid black;
    padding: .5em;
}

.industryContainer, .eduContainer{
    margin-top: 4em
}

.details>p, .details>span, .expertise {
    font-size: 1.25em;
}
.expertise{
    padding: .1em;
}
.listContainer>p{
    font-size: 1em
}

.left>h3{
    font-size: 2em;
    border: 2px solid red
}

.left>p{
    border: 2px solid orange;
    margin-top: -1em
}

.right{
    background-color: grey;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: fit-content;
    text-align: center;
    padding: 1.2em 0;
    /* justify-content: center; */

}

.right>span{
    margin: 1em;
    font-size: 1.25em;
}